.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
=======
>>>>>>> 48b420c45a31bf0cb19fc173814b4184d07fd3f3
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
<<<<<<< HEAD
  align-content: center;

}
=======
}
>>>>>>> 48b420c45a31bf0cb19fc173814b4184d07fd3f3
